rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    
    // WARNING: DANGEROUS - FOR DEBUGGING ONLY
    // These rules allow anyone to read and write to your entire database.
    // They should be replaced with secure rules as soon as possible.
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
